@model ImgServiceWebApplication.Models.Config

@{
    ViewBag.Title = "Confirm";
    
}

<h2>Are you sure you want to delete the handler?</h2>

@*<button type="button" id="btnOK" style="margin:10px">OK</button>
<button type="button" id="btnCancel" style="margin:10px">Cancel</button>*@

@Html.ActionLink("OK", "DeleteOK","Config")


@Html.ActionLink("Cancel", "DeleteCancel", "Config")












//change below input tag

@*<script>

    $(document).ready(function () {
        $('#btnOK').click(function (e) {
            $.get('DeleteOK', function () {
            });//end of post
        });//end of click
    });//en

    $(document).ready(function () {
        $('#btnCancel').click(function (e) {
            $.get('DeleteCancel', function () {
            });//end of post
        });//end of click
    });//en
  

</script>*@