@model ImgServiceWebApplication.Models.Config

@{
    ViewBag.Title = "Confirm";
    
}

<h2>Are you sure you want to delete the handler?</h2>

<button type="button" id="btnOK" style="margin:10px">OK</button>
<button type="button" id="btnCancel" style="margin:10px">Cancel</button>





//change below input tag

<script>
    $("#btnOK").click(function () {
        $.getJSON("@Url.Action("DeleteOK")", function (handler) {
           
        });
    });
      @*$("#btnStart").click(function () {
        $.getJSON("@Url.Action("Config\DeleteOK")", function (empl) {
            $("#prodId").text(empl.FirstName);
            $("#prodName").text(empl.LastName);
        });
    });*@

    $("#btnSearch").click(function () {
        var input = {
            name:$("#NameID").val(),
            salary: $("#txtSalaryId").val()
        };
        $.post("@Url.Action("GetEmployee")", input, function (data) {
            $("#lstProducts").append("<li>" + data.FirstName + " " + data.LastName + " : $" + data.Salary + "</li>");
        }, "json");
    });

</script>